/* App.css */
.dark-mode {
    background-color: #333;
    color: white;
    min-height: 100vh;
    padding: 20px;
  }
  
  .light-mode {
    background-color: #f5f5f5;
    color: black;
    min-height: 100vh;
    padding: 20px;
  }
  
  .custom-menu .ant-menu-item {
    color: inherit; /* ใช้สีของโหมดปัจจุบัน */
  }
  
  .custom-menu .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: yellow !important;
  }
  